<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/test_image_page.css" type="text/css">
    <title>Your Petri Net</title>
</head>
<body>

    <header>
        <h1>Petri Net from uploaded XES file</h1>
    </header>

    <div class="col-container">

        <div class="col">
            <img src="{{ user_image }}" alt="User Image">
        </div>


        <div class="col">
            <h3>Legend for petri net</h3>

            <table id="places_table">
                <thead>
                    <tr>
                      <th id="th_value">Place</th>
                      <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in place_legend.items() %}
                    <tr>
                       <td> {{ value }} </td>
                       <td> {{ key }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table id="trans_table">
                <thead>
                    <tr>
                      <th id="th_value">Transition</th>
                      <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in trans_legend.items() %}
                    <tr>
                       <td> {{ value }} </td>
                       <td> {{ key }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- </section> -->
    </div>


    <h2 class="footer">Statistics</h2>

    <div class="col-container">
        <img src="{{ event_occ }}" alt="event occurrences as bar chart">
    </div>
    <div class="statistics">
        This bar chart shows the total occurrence of each event, sorted in ascending order.
        The x-axis displays the events' names, the y-axis their occurrences.
    </div>

    <div class="col-container">
        <img src="{{ trace_dur }}" alt="duration of all traces">
    </div>
    <div class="statistics">
        <p> This bar chart shows the duration of each trace. If there are more than 14 traces in the log file, only the first and the last seven traces
        are displayed, which are the traces that have the shortest and longest duration respectively. <br>
        The x-axis shows the trace names/ids and the y-axis their duration. The format of the duration is given by HH:MM:SS (hours:minutes:seconds). <br>
        To underline the contrast between the traces with the shortest and longest duration,
        the y-axis could possibly begin at a higher value than 00:00:00. </p>
        <p> <b>Total Number of traces:</b> {{ num_traces }} </p>
        <p> <b> Mean duration of traces:</b> {{ mean_duration }} </p>
    </div>

</body>
</html>
